body {
	background-color: #FFFFFF;
}
.block {
	margin-top: 5%;
	padding: 2%;
	box-shadow: 1px 1px 1px 1px #000000;
}
.title {
	font-size: 200%;
}
.box {
	border: 1px #000000 solid;
}
.long {
	height: 400px;
}
.fullWidth {
	width: 100%;
}
.loves {
	color: #FF0000;
	font-size: 1.1em;
}